<div class="container">
    <div class="display-3">Techscapades</div>
    <div class="fs-3">Team - {{team_name}}</div>
    <div class="fs-3">Total points - {{total_points}}</div>
    <div class="fs-3">Progress - {{progress}}%</div>
    <div class="d-flex justify-content-center mt-4" style="height: 250px;">
        <zxing-scanner *ngIf="scan" [formats]="allowedFormats" (scanSuccess)="scanSuccessHandler($event)"
            [delayBetweenScanSuccess]="1000" [timeBetweenScans]="1000"></zxing-scanner>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button (click)="scan=!scan">Toggle Camera</button>
    </div>

    <button (click)="logout()">Logout</button>


</div>