<div class="container">
    <div class="text-center">
        <label class="display-2 my-3 me-3">Techscapades</label>
        <label class="h5">GITAM Hyderabad</label>
    </div>
    <label class="h1 mt-3">About the event</label>
    <div class="fs-4">
        Hey Geeks !!
        <br>
        Are you ready for a quest by putting your techincal knowledge to the test?
        <br>
        Techscapades is the first-ever Technical Treasure Hunt hosted by GitHub Community GITAM.
        <br>
        Eash team would have two hours to follow the clues around campus to find the hidden surprise.
        <br>
        Each team must consist of four members.
    </div>
    <label class="h1 mt-3">Rules</label>
    <ul class="fs-4">
        <li>All teams must have four members.</li>
        <li>Each team will be given the starter clue at the beginning of the treasure hunt.</li>
        <li>Each clue, once solved, will lead you to the location of the next clue until the final clue leads to the
            treasure.</li>
        <li>It is mandatory that each team collects all the clues intended to qualify for a win. Teams finding the
            treasure without collecting all the clues will be disqualified.</li>
        <li>The teams will be graded on the following criteria:</li>
        <ul>
            <li>Collection of all the clues and therefore, the treasure</li>
            <li>The time it took the team to reach the finishing point</li>
            <li>The breaker - Solve a coding question</li>
        </ul>
    </ul>
    <label class="h1 mt-3">You are too late. The registrations are done.</label>
    <br>
    <label class="h1 mt-3">Already registered ?</label>
    <br>
    <button class="mb-3" (click)="goToLoginPage()">Login</button>
    <br>
    <label class="h1 mt-3">Have some questions ?</label>
    <br>
    <button class="mb-2" (click)="openWhatsApp(1)">WhatsApp - Karthik</button>
    <br>
    <button class="mb-3" (click)="openWhatsApp(2)">WhatsApp - Lalit</button>
</div>