<div class="container d-flex flex-column">
    <iframe class="mx-auto"
        src="https://docs.google.com/forms/d/e/1FAIpQLSeHks77jPm2-2YTEpXsYDxv7tlFNiWGZ4vQXKFi3qnNkcozMA/viewform?embedded=true"
        width="640" height="3100">Loading…</iframe>
    <div class="mx-auto px-5" style="width:640px;">
        <label class="row h5 mt-3">Create account only after submitting the form</label>
        <label class="row h6" routerLink="/login">Already have an account? Login</label>
        <label class="row h6 mt-4" width="640">Team Captain Gitam Email id</label>
        <input class="row" width="640" type="text">

        <label class="row h6 mt-3" width="640">Password</label>
        <input class="row" width="640" type="text">

        <label class="row h6 mt-3" width="640">Retype Password</label>
        <input class="row" width="640" type="text">

        <button class="row my-3">Create Account</button>
    </div>

</div>